.git/
.github/
.gitignore

build/
.mypy_cache/
.pytest_cache/
__pycache__/
*.pyc
*.egg-info/

CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
README.md
README-template.md

docker_env

.coverage
coverage.xml
