# https://EditorConfig.org

root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.ipynb]
# Content is json, but it seems to be minimally formatted
indent_size = unset

[{*.json,.ecrc}]
indent_size = 2

[Makefile]
indent_style = tab

[make.bat]
end_of_line = crlf
indent_style = tab

[*.md]
indent_size = unset

[{*.py,setup.cfg}]
# yapf and black will use indents other than 4 spaces
indent_size = unset

[*.rst]
indent_size = unset

[*.yml]
indent_size = 2
